
*.config
*.v2
.vs/Chempe/v16/.suo
.Chempe/bin
Chempe/bin
.Domain/bin
Domain/bin
.Services/bin
Services/bin
*.csproj
*.csproj.user
.vs/Chempe/FileContentIndex/read.lock
.vs/
.vs/*
Chempe/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Chempe/obj/
Chempe/obj/*
