@{
    ViewData["Title"] = "Detalle de la solicitud";
    Layout = "/Views/Shared/_Layout_client.cshtml";
}

@using Newtonsoft.Json
@using Services.DTOs
@model Services.DTOs.DTO_Request

    <h2>Detalle de la solicitud</h2>

    <table>
        <tr>
            <td>Solicitud ID:</td>
            <td>@Model.Request_ID</td>
        </tr>
        <tr>
            <td>Fecha de solicitud:</td>
            <td>@Model.Datetime_request</td>
        </tr>
    </table>
    @Html.ActionLink("Volver", "Index")