@{
    ViewData["Title"] = "Detalle de la asignación";
    Layout = "/Views/Shared/_Layout_client.cshtml";
}

@using Newtonsoft.Json
@using Services.DTOs
@model Services.DTOs.DTO_Pledge_Assignment

<h2>Detalle de la asignación</h2>

<table>
    <tr>
        <td>Solicitud ID:</td>
        <td>@Model.Pledge_Assignment_ID</td>
    </tr>
    <tr>
        <td>Fecha de solicitud:</td>
        <td>@Model.Datetime_assignment</td>
    </tr>
</table>
@Html.ActionLink("Volver", "Index")